[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto = "*"
paramiko = "*"
"3b8012d" = {file = "https://github.com/newsapps/beeswithmachineguns/archive/master.zip"}
future = "*"

[dev-packages]
